<div class="row">
  
  <!-- user info -->
  <div class="col-2">  
    <h4>Welcome back, <%= @user.first_name %>!</h4>
  </div>
  
  <!-- my books -->
  <div class="col-5">
    <h2>My Books</h2>
    
      <% if @books!=[] %>        
        <div class="books-div">
          <% @books.each do |book| %>
            <div>
              Title: <%= book.title %>
            </div>
            <div>
              Author: <%= book.author %>
            </div>
            <div>
              Description: <%= book.description %>
            </div>
            <div>
              Status: {to_read/in_progress}
            </div>
            <div>
              {BUTTON-add_to_read}
            </div>
            <div>
              {BUTTON-delete}
            </div>
          <% end %>
        </div>

      <% else %>
        <h5>Oh no, your list is empty! Let's get started by searching for books.</h5>
        <a href="<%= search_path %>"><button class="btn btn-outline-secondary">Search</button></a>
      <% end %>

  </div>

  <!-- read books -->
  <div class="col-5">
    <h2>Read Books</h2>

      <% if @read_books!=[] %>        
        <div class="read-books-div">
          <% @read_books.each do |book| %>
            <div>
              Title: <%= book.title %>
            </div>
            <div>
              Author: <%= book.author %>
            </div>
            <div>
              Description: <%= book.description %>
            </div>
            <div>
              {BUTTON-move_back_to_my_books}
            </div>
            <div>
              {BUTTON-delete}
            </div>
          <% end %>
        </div>

      <% else %>
        <h5>Oh no, it looks like you haven't finished any books yet. Get to reading!</h5>
      <% end %>

  </div>



</div>