<div class="row no-padding">

  <!-- user info -->
  <div class="row full-width welcome-element">
    <div class="col-12 center">
      <h3>Welcome back,
      <%= @user.first_name %>!</h3>
    </div>
  </div>

  <div class="row">
    <!-- my books -->
    <div class="col-sm-6 dash-col">
      <h2 class="center">My Books</h2>

      <% if @books!=[] %>
        <div class="books-div">
          <% @books.each do |book| %>
            <% next if book.status == "Read" %>
            <div class="row my-book-div no-margin">

              <div class="col-lg-4 center no-padding no-margin">
                <%= image_tag book.image_url, class: "dash-img" %>
              </div>

              <div class="col-lg-8 no-margin">

                <div class="row">
                  <div class="col-12">
                    <span class="bold">Title: </span><span class="italic"><%= book.title %></span>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <span class="bold">Author: </span><%= book.author %>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <%= link_to "Preview", book_history_path(:id => book.book_history_id) , class: "btn btn-outline-success dashboard-btn btn-block" %>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <br/>
                    <span class="bold">Status:
                    </span><%= best_in_place book, :status, type: :select, collection: [["", "Select a Status"], ["To Read", "To Read"], ["In Progress", "In Progress"], ["Read","Read"]], class: "select-status" %> <%= image_tag image_path("edit.png"), alt: "edit image" %> <%= link_to "Delete", book, class: "delete-my-book btn btn-outline-danger dashboard-btn btn-sm float-right" %><br/>
                    <small class="clear">Click status above to edit</small>
                  </div>
                </div>

              </div>

            </div>
            <% end %>

        </div>

          <% else %>
          <h5>Oh no, your list is empty! Let's get started by searching for books.</h5>
          <a href="<%= search_path %>">
            <button class="btn btn-outline-secondary">Search</button>
          </a>

      <% end %>

    </div>

      <!-- read books -->
      <div class="col-6">
        <h2 class="center">Read Books</h2>
        <% if @books!=[] %>
          <div class="read-books-div">
            <% @books.where(status: 'Read').each do |book| %>
              <div class="row read-book-div no-margin">

                <div class="col-lg-4 center no-padding no-margin">
                  <%= image_tag book.image_url , class: "dash-img" %>
                </div>

                <div class="col-lg-8 no-margin">

                  <div class="row">
                    <div class="col-12">
                      <span class="bold">Title: </span><span class="italic"><%= book.title %></span>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <span class="bold">Author:</span> <%= book.author %>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <%= link_to "More Details", book_history_path(:id => book.book_history_id) , class: "btn btn-outline-success dashboard-btn btn-block" %>
                      <%= link_to "Write Review", new_book_history_review_path(book.book_history_id), class: "btn btn-warning dashboard-btn clear btn-block" %>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <br/>
                      <span class="bold">Status:
                      </span><%= best_in_place book, :status, type: :select, collection: [["", "Unspecified"], ["To Read", "To Read"], ["In Progress", "In Progress"], ["Read","Read"]], class: "select-status" %> <%= image_tag image_path("edit.png"), alt: "edit image" %> <%= link_to "Delete", book, class: "delete-read-book btn btn-outline-danger dashboard-btn btn-sm float-right" %><br/>
                      <small class="clear">Click status above to edit</small>
                    </div>
                  </div>

                </div>

              </div>
            <% end %>
          </div>
        <% else %>
          <h5>Oh no, it looks like you haven't finished any books yet. Get to reading!</h5>
        <% end %>
      </div>

    </div>
  </div>