<div class="row">
    <div class="col">

        <%= form_tag search_results_path, method: :get, id: "search-form" do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Books" %>
        <%= submit_tag "Search" %>
        <% end %>
    </div>
</div>
<div class="row">

<% if @books %>
  <% @books.each do |book| %>
    <div class="col-4">
      <%= image_tag book.image_url %>
      Title:
      <%= book.title %><br>
      Author:
      <%= book.author %><br>
      Description:
      <%= book.description ? book.description.truncate_words(200, separator: '') : 'N/A' %>
      <%= link_to 'read more', book.description %><br>
      <br>
      <%= button_to 'Add to My Books', create_from_book_history_path(book.id) %>
    </div>
  <% end %>
<% end %>

<div class="col-4"></div>
<div class="col-4"></div>
</div>
