<% if @books.nil? %>
  <div class="row mt-5">

    <div class="col col-offset text-center mt-5">
      <%= image_tag image_path("logo.png"), alt: "lololol",:class => "width-300 mx-auto d-block mt-5" %><br/>

      <%= form_tag search_results_path, method: :get, id: "search-form", class: '' do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Books",class: "form-control" %>
      <%= submit_tag "Search", class: 'btn btn-secondary mt-4' %>
    <% end %>
  </div>
</row>
<%else%>
<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center mt-4"></div>

  <div class="col-md-4 col-md-offset-4 text-center">
    <%= image_tag image_path("logo.png"), alt: "lololol",:class => "width-200 mx-auto d-block" %><br/>

    <%= form_tag search_results_path, method: :get, id: "search-form", class: '' do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Books",class: "form-control" %>
    <%= submit_tag "Search", class: 'btn btn-secondary btn-sm mt-1' %>
  <% end %>
</div>
<div class="col-md-4 col-md-offset-4 text-center mt-4"></div>
<%end%>
</div>

<div class="row">
<% if @books.present? %>
<% @books.each do |book| %>
  <div class="col-md-4 col-md-offset-4 text-center mt-4">
    <%= image_tag book.image_url, style: 'width : 160px ; height: 180px ' %>

    <p class="bold"><%= book.title %></p>
    <span class='bold'>By</span>
    <%= book.author %>
    <div class="mt-3">
      <% if book.description %>
        <% if book.description.size > 200 %>
          <span class="truncated-paragraph-<%= book.isbn %>">
            <%= book.description ? book.description.truncate_words(200, separator: '') : 'N/A' %>
            <a href="#" class="read-more-<%= book.isbn %>">Read More</a>
          </span>
          <span class="normal-paragraph-<%= book.isbn %>" style="display: none;">
            <%= book.description %>
            <a href="#" class="read-less-<%= book.isbn %>">Hide</a>
          </span>

        <% else %>
          <%= book.description %>
        <% end %>

      <% else %>
        <p>
          N/A
        </p>
      <% end %>
    </div>
    <!-- <%#= book.description ? book.description.truncate_words(200, separator: '') : 'N/A' %>-->
    <%#= link_to 'read more', book.description %>
      <%= button_to 'Add to My Books', create_from_book_history_path(book.id), class: 'btn btn-primary mt-1' %>
    </div>
  <% end %>

<%else%>
  <p class="col col-offset text-center mt-5">No new results to add.</p>
<% end %>

</div>