<div class="row">
  <div class="col">

    <%= form_tag search_results_path, method: :get, id: "search-form" do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Books" %>
    <%= submit_tag "Search" %>
  <% end %>
</div>
</div>

<div class="row">
    <% if @books.present? %>
        <% @books.each do |book| %>
            <div class="col-md-4 col-md-offset-4 text-center">
                <%= image_tag book.image_url, style: 'width : 160px ; height: 180px ' %>

                <span class = 'bold'>Title:</span>
                <%= book.title %><br>

                <span class = 'bold'>Author:</span>
                <%= book.author %><br>

                <span class = 'bold'>Description:</span>
                <% if book.description %>    
                    <% if book.description.size > 200 %>
                        <span class="truncated-paragraph-<%= book.isbn %>">
                        <%= book.description ? book.description.truncate_words(200, separator: '') : 'N/A' %>
                        <a href="#" class="read-more-<%= book.isbn %>">Read More</a>
                        </span>
                        <span class="normal-paragraph-<%= book.isbn %>" style="display: none;">
                        <%= book.description %>
                        <a href="#" class="read-less-<%= book.isbn %>">Hide</a>
                        </span>

                    <% else %>
                        <%= book.description %>
                    <% end %>

                    <% else %>
                        <p> N/A </p>
                <% end %>

                <!--      <%#= book.description ? book.description.truncate_words(200, separator: '') : 'N/A' %>-->
                <%#= link_to 'read more', book.description %><br>
                <br>
                <%= button_to 'Add to My Books', create_from_book_history_path(book.id) %>
            </div>
        <% end %>

    <%else%>
        <p>No new results to add.</p>
    <% end %>


</div>