<!DOCTYPE html>
<html>
  <head>
    <title>BookApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <!-- Nav -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="http://placehold.it/300x60?text=Logo" width="150" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="<%= dashboard_index_path %>">Dashboard
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <%if user_signed_in?%>
              <li class="nav-item"><%= link_to t('auth.sign_out'), destroy_user_session_path, method: 'delete', class: 'btn btn-outline-light' %></li>

            <%else%>
              <li class="nav-item"><%= link_to t('auth.sign_in'), new_user_session_path, class: 'nav-link' %></li>
              <li class="nav-item"><%= link_to t('auth.sign_up'), new_user_registration_path, class: 'nav-link' %></li>
            <%end%>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Content -->
    <div class="container">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= custom_bootstrap_flash %>
      <%= yield %>
    </div>
  </body>
</html>
